// Comments and post navigation

.comment-navigation,
.posts-navigation,
.post-navigation {
    overflow: hidden;
    margin: 1.5rem 0;
    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}


.pagination span.page-link:hover{
    border-color: inherit;
}