
// Button block.

.is-style-outline {
	color: inherit;
}

/*
.wp-block-button {

	margin-bottom: 0;

	&__link {
		display: inline-block;
		font-weight: $btn-font-weight;
  		text-align: center;
  		white-space: $btn-white-space;
		vertical-align: middle;
  		cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  		user-select: none;
		border: $btn-border-width solid;
		padding: $btn-padding-y-lg $btn-padding-x-lg;
  		@include font-size($btn-font-size-lg);
  		line-height: $btn-line-height-lg;
		&:focus {
			outline: 0;
			box-shadow: $btn-focus-box-shadow;
		}
		min-width: 8em;
		@media (min-width: 1900px){
			min-width: 10em;
		}
	}
}
*/


.is-style-fill {
	.wp-block-button__link{
		&:not(.has-background) {
			@include gradient-bg($dark);
			border-color: $dark;
		}
		&:focus {
			box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($dark), $dark, 15%), .5);
		}
	}

	@each $color, $value in $style-colors {
		.wp-block-button__link.has-#{$color}-background-color {
			border-color: $value;
			&:focus {
				box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($value), $value, 15%), .5);
			}
		}
	}
}
  
.is-style-outline {

	.wp-block-button__link{
		border: $btn-border-width solid;
		&:focus {
			box-shadow: 0 0 0 $btn-focus-width rgba($dark, .5);
		}
		&:not(.has-text-color){
			color: $dark;
			border-color: $dark;
		}
	}

	@each $color, $value in $style-colors {
		.wp-block-button__link.has-#{$color}-color:not(.has-background) {
			color: $value;
			border-color: $value;
			&:focus {
			  box-shadow: 0 0 0 $btn-focus-width rgba($value, .5);
			}
		}

		.wp-block-button__link.has-#{$color}-background-color {
			&:focus {
				box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($value), $value, 15%), .5);
			}
		}
	}
}
  

[data-type="core/button"] {

	&[data-align="left"] {

        .block-editor-block-list__block-edit {
            margin-right: 45px;
        }

	}
	
	&[data-align="right"] {

        .block-editor-block-list__block-edit {
            margin-left: 45px;
        }

    }


}
