
.wp-block-video {
	video{
		width: 100%;
	}
}


[data-type="core/embed"],
[data-type*="core-embed"],
[data-type="core/video"] {

    &[data-align="left"],
    &[data-align="center"],
	&[data-align="right"] {

		.block-editor-block-list__block-edit {
            width: 100%;
            max-width: 100%;
        }
        @include media-breakpoint-up(md) {
            .block-editor-block-list__block-edit {
                width: $editor-alignment-width;
                max-width: $editor-alignment-width;
            }
        }

    }

    &[data-align="left"],
	&[data-align="right"] {
		.block-editor-block-list__block-edit {
            margin-top: -28px;
        }
    }
    
    &[data-align="center"]{
        .block-editor-block-list__block-edit {
            margin-left: auto;
            margin-right: auto;
        }
    }

}