
// Latest posts block.

.wp-block-latest-posts {

	&__list {
		list-style: none;
		padding: 0;
		li{
			> a{
				font-size: $h5-font-size;
			}
		}
	}

	&.is-grid {
		padding:    0;
		list-style: none;

		li {
			border-top: 1px solid $gray-100;
			padding-top: .5rem;
		}
	}

	&__post-date {
		display: block;
		font-size: $font-size-sm;
		color: $gray-500;
	}

}
